name: Deploy on Self-Hosted Runner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Pull all images and restart stack
        run: |
          docker-compose -f ./all-services.yml pull
          docker-compose -f ./all-services.yml up -d